@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
    
    
  }

  .fontPri{
    font-family: 'Zen Old Mincho', serif;
  }

  html{

    scroll-behavior: smooth;
  }
  body{
    background-color: black;
  }
  .navv{
    width: 100%;
    /*position: fixed;*/
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 2;
    background-color: rgba(196, 58, 23, 0.918);
} 
.footer-index{
    margin-top: 50px;
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: rgba(196, 58, 23, 0.918);
      color: black;
    }

    .tituloBl{
      color: white;
    }
  
  #btnRegistrarse{
    background-color:rgba(109, 66, 45) ;
    box-shadow: 2px 2px 1px rgb(68, 42, 29);
    border-radius: 10px;
  }

  #btnRegistrarse:hover{
    box-shadow: 1px 1px 1px rgb(68, 42, 29);
  }

  .botonini{
      background-color: black;
      border-color: black;
  }
  .botonregi{
    background-color: red;
    border: black;
  }

  .main-inisesion{
    display: flex;
    align-items: center;
    height: 100%;
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 80px;
  }

  .sobre-nosotros{
    object-fit: cover;
    width: 5px;
    height: 300px;
    
    }
    .fotopersonal{
      width: 180px;
      object-fit: cover;
      
  } 